/* ==== Root Variabels ==== */
:root {
    /* Spacing */
    --grid-container-gap: 50px;
    --margin-grid-container: 80px;
    
    /* Border */
    --border-radius-all: 8px;

    /* Coloring */
    --border-color-structure-el: #f7e8d9;
    --bg-color-structure-el: #F4F1EE;

    /* Fonts and Sizing */
}

/* === Grid Container ==== */
.grid-container {
    display: grid;
    grid-template-columns: 250px 3fr;
    grid-template-rows: auto 1fr;
    height: calc(100vh - var(--margin-grid-container) * 2);
    gap: var(--grid-container-gap);
    margin: var(--margin-grid-container);
}

/* Grid Container ---> all structure elements */
aside, header, main {
    background-color: var(--bg-color-structure-el);
    border-radius: var(--border-radius-all);
    border: 3px solid var(--border-color-structure-el);
}

/* Grid Container ---> aside settings */
aside {
    grid-row: 1 / span 2;
    padding: 1rem;
}

/* Grid Container ---> header settings */
header {
    grid-column: 2;
    padding: 1rem;
    text-align: center;
}

/* Grid Container ---> main settings */
main {
    grid-column: 2;
    padding: 1rem;
}